/* About section styles */
.about-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 32px;
    text-align: left;
}

h1 {
    padding-top: 40px; /* Increase the padding at the top */
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    color: black;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    color: #4F5054;
    margin-bottom: 48px;
}

/* Tabs section */
.tabs {
    margin-top: 40px;
}

/* Tab styling */
.tab {
    margin-bottom: 24px;
    border-bottom: 1px solid #D3D3D3; /* Move border to tab container */
    position: relative; /* Allow positioning of child elements like tab content */
}

/* Tab header styles */
.tab h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #1D1D1D; /* Text color */
    padding-bottom: 8px;
    cursor: pointer;
    position: relative; /* Allow positioning of the + sign */
    width: 100%; /* Adjust to 100% to fix + sign positioning */
    text-align: left; /* Align text to the left */
    transition: color 0.3s ease; /* Smooth transition for color */
}

/* Move the + sign to the far right of the expanded line */
.tab h2::after {
    content: '+'; /* Adds the + sign */
    position: absolute;
    right: 0; /* Position the + sign at the very end of the expanded line */
    top: 50%; /* Vertically center the + sign */
    transform: translateY(-50%); /* Adjust positioning */
    font-size: 24px;
    color: #D3D3D3;
    transition: transform 0.7s ease; /* Smooth transition for + sign when tab is open */
}

/* Tab Content Styling */
.tab-content {
    display: none;
    position: relative; /* Ensure content stays within document flow */
    top: 100%; /* Position it below the tab header */
    left: 0;
    width: 100%;
    font-size: 16px;
    color: #4F5054;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease; /* Smooth opening of content */
}

/* When tab content is visible */
.tab-content.open {
    display: block;
    opacity: 1;
    max-height: 500px;
    padding-top: 15px; /* Add padding for better spacing */
    border-bottom: 2px solid #D3D3D3; /* Border when content opens */
}


/* Remove the border from tab when content is open */
.tab-content.open + .tab {
    border-bottom: none;
}

/* Ensure tab container has some positioning context */
.tab {
    position: relative; /* Allow positioning of child elements like tab content */
}

#torus-hold {
    position: relative;
    top: -145px; /* Move the torus up by 50px */
    z-index: 1; /* Ensure it appears above other content */
    left: -50px; /* Moves it 50px to the left */
}


#torus-container {
    margin-top: -50px; /* Move the container 50px upwards */
    height: 400px; /* Adjust to desired height */
    width: 100%; /* Make it full-width */
    position: relative; /* To ensure the container behaves correctly */
}
